### Exclude 3rd Party Library .jars ###
*.jar


### IntelliJ IDEA ###
out/
!**/src/Client/**/out/
!**/src/test/**/out/
.idea/discord.xml
.idea/libraries/*
.idea/modules.xml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/Client/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/javadocs.zip
/javadocs/

*.svg
